extends ../../../../assets/acorn/layout.pug

block filter
  :go:func Activation(first string, number float64)

block content
  +alert-outlined
    span hello
  +Row
    +C1-of-3
      .one string #{first}
    +C2-of-3
      .one number #{number}