extends ../../../../assets/acorn/layout.pug

block filter
  :go:func Activation(first string, second int)

block content
  +Row
    +C1-of-3
      .one hello, #{first}
    +C2-of-3
      .one #{second + 5}