extends ../../../../assets/acorn/layout.pug

block filter
  :go:func Activation()

block content
  p one
  p two
  +spacer
  p three
  +spacer2
  p four
    
  +alert-bg
    | hello world

  +divider('black')

  +row
    +c1-of-2
      +wrapper
        +button-bg('https://google.com') Google
    +c1-of-2
      +wrapper
        +button-outlined('https://google.com') Google
      

