extends ../../../../assets/acorn/layout.pug

block filter
  :go:func PasswordReset(name string, link string)

block content
  +container
    h3 Hi #{name}, 

    p.
      Someone (hopefully you) has requested to reset your Quible account password. Click on the link below to proceed:

    +link(link)= link 

    p The link will expire in 24 hours. Feel free to restart password reset to get a new link should this one expire. 
      
    p If you did not request password reset for your Quible account, you can safely ignore this email. 

    p Best,

    p The Quible Team 

  
    

  