extends ../../../../assets/acorn/layout.pug

block filter
  :go:func UserActivation(name string, link string)

block content
  +container
    h3 Hi #{name}, 

    p Thank you for signing up for Quible. Click on the link below to verify your email:

    +link(link)= link 

    p This link will expire in 24 hours. Feel free to repeat registration to get a new link should this one expire. 
      
    p If you did not sign up for a Quible account, you can safely ignore this email. 

    p Best,

    p The Quible Team 

  
    

  